---
http_interactions:
- request:
    method: get
    uri: http://api.yelp.com/v2/business/yelp-san-francisco
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="E0TEU29q4OSwRWTv4Miyew", oauth_nonce="293d6926883ce671666f860a8542fa42",
        oauth_signature="bE%2BPDFELMGGzM2ya0ZuNhrTzHbQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1394777501", oauth_token="H0DBl_rogBR4jLY2zIOCkns5ga006VK_",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Node:
      - web30, api_com
      Content-Type:
      - application/json; charset=UTF-8
      X-Mode:
      - rw
      X-Proxied:
      - lb1
    body:
      encoding: UTF-8
      string: '{"is_claimed": true, "rating": 2.5, "mobile_url": "http://m.yelp.com/biz/yelp-san-francisco",
        "rating_img_url": "http://s3-media4.ak.yelpcdn.com/assets/2/www/img/c7fb9aff59f9/ico/stars/v1/stars_2_half.png",
        "review_count": 5755, "name": "Yelp", "snippet_image_url": "http://s3-media2.ak.yelpcdn.com/photo/PY20vJbp45unwawYdGreEQ/ms.jpg",
        "rating_img_url_small": "http://s3-media4.ak.yelpcdn.com/assets/2/www/img/8e8633e5f8f0/ico/stars/v1/stars_small_2_half.png",
        "url": "http://www.yelp.com/biz/yelp-san-francisco", "reviews": [{"rating":
        5, "excerpt": "I''m not difficult to please to begin with, so I''m not going
        to be entirely nitpicky despite having the infrequent glitches and uploading
        delays. I will;...", "time_created": 1394744728, "rating_image_url": "http://s3-media1.ak.yelpcdn.com/assets/2/www/img/f1def11e4e79/ico/stars/v1/stars_5.png",
        "rating_image_small_url": "http://s3-media1.ak.yelpcdn.com/assets/2/www/img/c7623205d5cd/ico/stars/v1/stars_small_5.png",
        "user": {"image_url": "http://s3-media3.ak.yelpcdn.com/photo/BNJZxISy5w1iwXvdRFpOXg/ms.jpg",
        "id": "HbyHhB6WOSQjU-JYwED9Ww", "name": "Ann S."}, "rating_image_large_url":
        "http://s3-media3.ak.yelpcdn.com/assets/2/www/img/22affc4e6c38/ico/stars/v1/stars_large_5.png",
        "id": "Ocgxqf8RJ9b37sBe8uI1YQ"}], "phone": "4159083801", "snippet_text": "The
        Yelps haz empowered me to learn the man-language, and has provided me a forum
        for my linguistic dementia as well as my unrealistic self-image and...", "image_url":
        "http://s3-media3.ak.yelpcdn.com/bphoto/4LSTYqXkQ-YrI1CQmr2dQA/ms.jpg", "categories":
        [["Local Flavor", "localflavor"], ["Mass Media", "massmedia"]], "display_phone":
        "+1-415-908-3801", "rating_img_url_large": "http://s3-media2.ak.yelpcdn.com/assets/2/www/img/d63e3add9901/ico/stars/v1/stars_large_2_half.png",
        "id": "yelp-san-francisco", "is_closed": false, "location": {"cross_streets":
        "Natoma St \u0026 Minna St", "city": "San Francisco", "display_address": ["140
        New Montgomery St", "(b/t Natoma St \u0026 Minna St)", "Financial District",
        "San Francisco, CA 94105"], "neighborhoods": ["Financial District", "SoMa"],
        "postal_code": "94105", "country_code": "US", "address": ["140 New Montgomery
        St"], "state_code": "CA"}}'
  recorded_at: Fri, 14 Mar 2014 06:11:50 GMT
recorded_with: VCR 2.8.0
