---
http_interactions:
- request:
    method: get
    uri: http://api.yelp.com/v2/search?location=San%20Francisco
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="E0TEU29q4OSwRWTv4Miyew", oauth_nonce="60175507457e3f6774676f3645f42cc4",
        oauth_signature="2VLdSEDk8G%2FpUkERtSMLRpQjk%2Bc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1394777510", oauth_token="H0DBl_rogBR4jLY2zIOCkns5ga006VK_",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Node:
      - web73-r7-sfo1, api_com
      Content-Type:
      - application/json; charset=UTF-8
      X-Mode:
      - rw
      X-Proxied:
      - lb2
    body:
      encoding: UTF-8
      string: '{"region": {"span": {"latitude_delta": 0.019580439999998589, "longitude_delta":
        0.02167615999999839}, "center": {"latitude": 37.773531800000001, "longitude":
        -122.41647420000001}}, "total": 40284, "businesses": [{"is_claimed": false,
        "rating": 5.0, "mobile_url": "http://m.yelp.com/biz/kim-makoi-dc-san-francisco",
        "rating_img_url": "http://s3-media1.ak.yelpcdn.com/assets/2/www/img/f1def11e4e79/ico/stars/v1/stars_5.png",
        "review_count": 78, "name": "Kim Makoi, DC", "snippet_image_url": "http://s3-media4.ak.yelpcdn.com/photo/zRXtqdsalWdJpwgeyA4QLg/ms.jpg",
        "rating_img_url_small": "http://s3-media1.ak.yelpcdn.com/assets/2/www/img/c7623205d5cd/ico/stars/v1/stars_small_5.png",
        "url": "http://www.yelp.com/biz/kim-makoi-dc-san-francisco", "phone": "4158642975",
        "snippet_text": "i highly recommend Dr Kim. he and his staff are some of the
        most friendly, personable and helpful people i have EVER experienced in the
        health/alternative...", "image_url": "http://s3-media2.ak.yelpcdn.com/bphoto/K8Gx4cZ5eDOykThR7edJFg/ms.jpg",
        "categories": [["Chiropractors", "chiropractors"]], "display_phone": "+1-415-864-2975",
        "rating_img_url_large": "http://s3-media3.ak.yelpcdn.com/assets/2/www/img/22affc4e6c38/ico/stars/v1/stars_large_5.png",
        "id": "kim-makoi-dc-san-francisco", "is_closed": false, "location": {"cross_streets":
        "Lily St \u0026 Page St", "city": "San Francisco", "display_address": ["110
        Gough St", "Ste 201A", "(b/t Lily St \u0026 Page St)", "Hayes Valley", "San
        Francisco, CA 94102"], "neighborhoods": ["Hayes Valley"], "postal_code": "94102",
        "country_code": "US", "address": ["110 Gough St", "Ste 201A"], "state_code":
        "CA"}}, {"is_claimed": false, "rating": 5.0, "mobile_url": "http://m.yelp.com/biz/nicks-super-market-san-francisco",
        "rating_img_url": "http://s3-media1.ak.yelpcdn.com/assets/2/www/img/f1def11e4e79/ico/stars/v1/stars_5.png",
        "review_count": 70, "name": "Nick''s Super Market", "snippet_image_url": "http://s3-media3.ak.yelpcdn.com/photo/rw0gwJ9ijOqfYFYbzcMsAg/ms.jpg",
        "rating_img_url_small": "http://s3-media1.ak.yelpcdn.com/assets/2/www/img/c7623205d5cd/ico/stars/v[...]
