---
http_interactions:
- request:
    method: get
    uri: http://api.yelp.com/v2/search?ll=37.7577,-122.4376,,,
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="E0TEU29q4OSwRWTv4Miyew", oauth_nonce="1bde56979796eb1b91c42e97c0922659",
        oauth_signature="iCq6uWzdlUH1H7elTBn6URJEsNk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1396124976", oauth_token="H0DBl_rogBR4jLY2zIOCkns5ga006VK_",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Node:
      - web63-r1-sfo1, api_com
      Content-Type:
      - application/json; charset=UTF-8
      X-Mode:
      - rw
      X-Proxied:
      - lb1
    body:
      encoding: UTF-8
      string: '{"region": {"span": {"latitude_delta": 0.0052158700000006775, "longitude_delta":
        0.007316760000009026}, "center": {"latitude": 37.757833750000003, "longitude":
        -122.435894}}, "total": 3499, "businesses": [{"is_claimed": true, "distance":
        40.48638987053647, "mobile_url": "http://m.yelp.com/biz/bikram-yoga-castro-san-francisco",
        "rating_img_url": "http://s3-media2.ak.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png",
        "review_count": 67, "name": "Bikram Yoga Castro", "snippet_image_url": "http://s3-media1.ak.yelpcdn.com/photo/bLBzZkprHxAxUkPY6vvqcg/ms.jpg",
        "rating": 4.5, "url": "http://www.yelp.com/biz/bikram-yoga-castro-san-francisco",
        "location": {"cross_streets": "20th St \u0026 21st St", "city": "San Francisco",
        "display_address": ["301 Eureka St", "(b/t 20th St \u0026 21st St)", "Castro",
        "San Francisco, CA 94114"], "neighborhoods": ["Castro"], "postal_code": "94114",
        "country_code": "US", "address": ["301 Eureka St"], "state_code": "CA"}, "phone":
        "4158219642", "snippet_text": "I''m new to the city, and have spent the past
        month searching for a Bikram yoga studio. Due to an autoimmune disease, I''ve
        become much more health conscious...", "image_url": "http://s3-media4.ak.yelpcdn.com/bphoto/3GK1YUXfrQ5gxTF77NLR_g/ms.jpg",
        "categories": [["Yoga", "yoga"]], "display_phone": "+1-415-821-9642", "rating_img_url_large":
        "http://s3-media4.ak.yelpcdn.com/assets/2/www/img/9f83790ff7f6/ico/stars/v1/stars_large_4_half.png",
        "id": "bikram-yoga-castro-san-francisco", "is_closed": false, "rating_img_url_small":
        "http://s3-media2.ak.yelpcdn.com/assets/2/www/img/a5221e66bc70/ico/stars/v1/stars_small_4_half.png"},
        {"is_claimed": false, "distance": 130.97898314623532, "mobile_url": "http://m.yelp.com/biz/seward-street-slides-san-francisco",
        "rating_img_url": "http://s3-media2.ak.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png",
        "review_count": 458, "name": "Seward Street Slides", "snippet_image_url":
        "http://s3-media3.ak.yelpcdn.com/photo/GJA[...]
