---
http_interactions:
- request:
    method: get
    uri: http://api.yelp.com/v2/search?bounds=37.7577,-122.4376%7C37.785381,-122.391681
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="E0TEU29q4OSwRWTv4Miyew", oauth_nonce="de70695b0f41cdb3d03af36bd1b19ebd",
        oauth_signature="xzqcoVR0jDCG%2BLOoqhkoILHIRsI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1394816241", oauth_token="H0DBl_rogBR4jLY2zIOCkns5ga006VK_",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Node:
      - web64-r1-sfo1, api_com
      Content-Type:
      - application/json; charset=UTF-8
      X-Mode:
      - rw
      X-Proxied:
      - lb1
    body:
      encoding: UTF-8
      string: '{"region": {"span": {"latitude_delta": 0.027681000000001177, "longitude_delta":
        0.045918999999997823}, "center": {"latitude": 37.7715405, "longitude": -122.4146405}},
        "total": 11380, "businesses": [{"is_claimed": true, "rating": 5.0, "mobile_url":
        "http://m.yelp.com/biz/avenue-body-shop-san-francisco", "rating_img_url":
        "http://s3-media1.ak.yelpcdn.com/assets/2/www/img/f1def11e4e79/ico/stars/v1/stars_5.png",
        "review_count": 78, "name": "Avenue Body Shop", "snippet_image_url": "http://s3-media3.ak.yelpcdn.com/photo/3QvEwNIVeSkvLf96dPydyg/ms.jpg",
        "rating_img_url_small": "http://s3-media1.ak.yelpcdn.com/assets/2/www/img/c7623205d5cd/ico/stars/v1/stars_small_5.png",
        "url": "http://www.yelp.com/biz/avenue-body-shop-san-francisco", "phone":
        "4158644417", "snippet_text": "I''m breaking a two-year radio silence on Yelp
        to give Avenue Body Shop a very well-deserved 5-star review.  If you''re looking
        for a place to have body...", "image_url": "http://s3-media1.ak.yelpcdn.com/bphoto/dBb0sF55Kshi7azZFZBRwg/ms.jpg",
        "categories": [["Body Shops", "bodyshops"]], "display_phone": "+1-415-864-4417",
        "rating_img_url_large": "http://s3-media3.ak.yelpcdn.com/assets/2/www/img/22affc4e6c38/ico/stars/v1/stars_large_5.png",
        "id": "avenue-body-shop-san-francisco", "is_closed": false, "location": {"cross_streets":
        "14th St \u0026 15th St", "city": "San Francisco", "display_address": ["333
        S Van Ness Ave", "(b/t 14th St \u0026 15th St)", "Mission", "San Francisco,
        CA 94103"], "neighborhoods": ["Mission"], "postal_code": "94103", "country_code":
        "US", "address": ["333 S Van Ness Ave"], "state_code": "CA"}}, {"is_claimed":
        true, "rating": 5.0, "mobile_url": "http://m.yelp.com/biz/glass-plus-san-francisco",
        "rating_img_url": "http://s3-media1.ak.yelpcdn.com/assets/2/www/img/f1def11e4e79/ico/stars/v1/stars_5.png",
        "review_count": 150, "name": "Glass Plus", "snippet_image_url": "http://s3-media4.ak.yelpcdn.com/assets/2/www/img/cc4afe21892e/default_avatars/user_medium_square.png",
        "rating_img_url_small": "http://s3-media1.ak.yelpcdn.com/assets/2/www/img/c7623205d[...]
