---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v2/business/yelp-san-francisco
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<YELP_CONSUMER_KEY>", oauth_nonce="bf04bd00e56b2a626a911991aac75201",
        oauth_signature="a48uevnfXQaPvPlZMqCJHAxO3uI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1445634930", oauth_token="<YELP_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Node:
      - 10-64-75-62-uswest1aprod
      - api_com
      X-Mode:
      - ro
      X-Proxied:
      - 10-64-0-167-uswest1aprod
    body:
      encoding: UTF-8
      string: '{"is_claimed": true, "rating": 2.5, "mobile_url": "http://m.yelp.com/biz/yelp-san-francisco",
        "rating_img_url": "http://s3-media4.fl.yelpcdn.com/assets/2/www/img/c7fb9aff59f9/ico/stars/v1/stars_2_half.png",
        "review_count": 7534, "name": "Yelp", "rating_img_url_small": "http://s3-media4.fl.yelpcdn.com/assets/2/www/img/8e8633e5f8f0/ico/stars/v1/stars_small_2_half.png",
        "url": "http://www.yelp.com/biz/yelp-san-francisco", "categories": [["Local
        Flavor", "localflavor"], ["Mass Media", "massmedia"]], "reviews": [{"rating":
        5, "excerpt": "My 200th review! For this milestone I have decided to review
        Yelp. I wrote my first Yelp review back in 2013, I never thought that one
        review would turn...", "time_created": 1445434241, "rating_image_url": "http://s3-media1.fl.yelpcdn.com/assets/2/www/img/f1def11e4e79/ico/stars/v1/stars_5.png",
        "rating_image_small_url": "http://s3-media1.fl.yelpcdn.com/assets/2/www/img/c7623205d5cd/ico/stars/v1/stars_small_5.png",
        "user": {"image_url": "http://s3-media1.fl.yelpcdn.com/photo/RCmPU2uqGkm0A_NEcRJm0g/ms.jpg",
        "id": "E8RgeQeEF3xD6CcopTNjhA", "name": "Britt Z."}, "rating_image_large_url":
        "http://s3-media3.fl.yelpcdn.com/assets/2/www/img/22affc4e6c38/ico/stars/v1/stars_large_5.png",
        "id": "AIL0eKK3vFNsR_n9BaJI5Q"}], "phone": "4159083801", "snippet_text": "My
        200th review! For this milestone I have decided to review Yelp. I wrote my
        first Yelp review back in 2013, I never thought that one review would turn...",
        "image_url": "http://s3-media3.fl.yelpcdn.com/bphoto/nQK-6_vZMt5n88zsAS94ew/ms.jpg",
        "snippet_image_url": "http://s3-media1.fl.yelpcdn.com/photo/RCmPU2uqGkm0A_NEcRJm0g/ms.jpg",
        "display_phone": "+1-415-908-3801", "rating_img_url_large": "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/d63e3add9901/ico/stars/v1/stars_large_2_half.png",
        "id": "yelp-san-francisco", "is_closed": false, "location": {"cross_streets":
        "Natoma St \u0026 Minna St", "city": "San Francisco", "display_address": ["140
        New Montgomery St", "Financial District", "San Francisco, CA 94105"], "geo_accuracy":
        9.5, "neighborhoods": ["Financial District", "SoMa"], "postal_code": "94105",
        "country_code": "US", "address": ["140 New Montgomery St"], "coordinate":
        {"latitude": 37.7867703362929, "longitude": -122.399958372115}, "state_code":
        "CA"}}'
  recorded_at: Fri, 23 Oct 2015 21:15:31 GMT
recorded_with: VCR 2.9.3
