---
http_interactions:
- request:
    method: get
    uri: http://api.yelp.com/v2/business/yelp-san-francisco
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="E0TEU29q4OSwRWTv4Miyew", oauth_nonce="29e37113e3af2844025f00be28a399ef",
        oauth_signature="cRDd0b96QTAUEjzQbPEnuBce9UY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1397618783", oauth_token="H0DBl_rogBR4jLY2zIOCkns5ga006VK_",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Node:
      - web31, api_com
      Content-Type:
      - application/json; charset=UTF-8
      X-Mode:
      - rw
      X-Proxied:
      - lb2
    body:
      encoding: UTF-8
      string: '{"is_claimed": true, "rating": 2.5, "mobile_url": "http://m.yelp.com/biz/yelp-san-francisco",
        "rating_img_url": "http://s3-media4.ak.yelpcdn.com/assets/2/www/img/c7fb9aff59f9/ico/stars/v1/stars_2_half.png",
        "review_count": 5881, "name": "Yelp", "snippet_image_url": "http://s3-media1.ak.yelpcdn.com/photo/kcYb8Dk8qDQBRszs2DOsaA/ms.jpg",
        "rating_img_url_small": "http://s3-media4.ak.yelpcdn.com/assets/2/www/img/8e8633e5f8f0/ico/stars/v1/stars_small_2_half.png",
        "url": "http://www.yelp.com/biz/yelp-san-francisco", "reviews": [{"rating":
        4, "excerpt": "Yelp is poised for success. I see them getting beyond what
        Twitter and Facebook can only dream of. The name Yelp has slightly negative
        connotations, like...", "time_created": 1397497331, "rating_image_url": "http://s3-media4.ak.yelpcdn.com/assets/2/www/img/c2f3dd9799a5/ico/stars/v1/stars_4.png",
        "rating_image_small_url": "http://s3-media4.ak.yelpcdn.com/assets/2/www/img/f62a5be2f902/ico/stars/v1/stars_small_4.png",
        "user": {"image_url": "http://s3-media1.ak.yelpcdn.com/photo/kcYb8Dk8qDQBRszs2DOsaA/ms.jpg",
        "id": "5V-CwktC66Z1P_oHc3MEkg", "name": "N T."}, "rating_image_large_url":
        "http://s3-media2.ak.yelpcdn.com/assets/2/www/img/ccf2b76faa2c/ico/stars/v1/stars_large_4.png",
        "id": "rkVu8EEUeSwy9lPVn5VhxA"}], "phone": "4159083801", "snippet_text": "Yelp
        is poised for success. I see them getting beyond what Twitter and Facebook
        can only dream of. The name Yelp has slightly negative connotations, like...",
        "image_url": "http://s3-media3.ak.yelpcdn.com/bphoto/4LSTYqXkQ-YrI1CQmr2dQA/ms.jpg",
        "categories": [["Local Flavor", "localflavor"], ["Mass Media", "massmedia"]],
        "display_phone": "+1-415-908-3801", "rating_img_url_large": "http://s3-media2.ak.yelpcdn.com/assets/2/www/img/d63e3add9901/ico/stars/v1/stars_large_2_half.png",
        "id": "yelp-san-francisco", "is_closed": false, "location": {"cross_streets":
        "Natoma St \u0026 Minna St", "city": "San Francisco", "display_address": ["140
        New Montgomery St", "(b/t Natoma St \u0026 Minna St)", "Financial District",
        "San Francisco, CA 94105"], "neighborhoods": ["Financial District", "SoMa"],
        "postal_code": "94105", "country_code": "US", "address": ["140 New Montgomery
        St"], "state_code": "CA"}}'
  recorded_at: Wed, 16 Apr 2014 03:26:30 GMT
recorded_with: VCR 2.8.0
