---
http_interactions:
- request:
    method: get
    uri: http://api.yelp.com/v2/search?bounds=37.7577,-122.4376%7C37.785381,-122.391681
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<YELP_CONSUMER_KEY>", oauth_nonce="258ebf12703a284a4166f5b9f5613d89",
        oauth_signature="cRAo2HAiiMrM0J%2FpnaUHiu8xcp0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1398701826", oauth_token="<YELP_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Node:
      - web64-r1-sfo1, api_com
      Content-Type:
      - application/json; charset=UTF-8
      X-Mode:
      - rw
      X-Proxied:
      - lb2
    body:
      encoding: UTF-8
      string: '{"region": {"span": {"latitude_delta": 0.027681000000001177, "longitude_delta":
        0.045918999999997823}, "center": {"latitude": 37.7715405, "longitude": -122.4146405}},
        "total": 11446, "businesses": [{"is_claimed": true, "rating": 5.0, "mobile_url":
        "http://m.yelp.com/biz/clean-air-smog-check-star-test-only-center-san-francisco",
        "rating_img_url": "http://s3-media1.ak.yelpcdn.com/assets/2/www/img/f1def11e4e79/ico/stars/v1/stars_5.png",
        "review_count": 362, "name": "Clean Air Smog Check STAR Test Only Center",
        "snippet_image_url": "http://s3-media1.ak.yelpcdn.com/photo/8nvLfA_vkwe50xY_F9_itA/ms.jpg",
        "rating_img_url_small": "http://s3-media1.ak.yelpcdn.com/assets/2/www/img/c7623205d5cd/ico/stars/v1/stars_small_5.png",
        "url": "http://www.yelp.com/biz/clean-air-smog-check-star-test-only-center-san-francisco",
        "phone": "4156212983", "snippet_text": "The glowing reviews are true...Clean
        Air''s service truly is quick and friendly. And, yes...as soon as you mention
        Yelp they knock a big chunk off your...", "image_url": "http://s3-media1.ak.yelpcdn.com/bphoto/KAPXX_Qei1xTa8WtQ22ehw/ms.jpg",
        "categories": [["Smog Check Stations", "smog_check_stations"]], "display_phone":
        "+1-415-621-2983", "rating_img_url_large": "http://s3-media3.ak.yelpcdn.com/assets/2/www/img/22affc4e6c38/ico/stars/v1/stars_large_5.png",
        "id": "clean-air-smog-check-star-test-only-center-san-francisco", "is_closed":
        false, "location": {"cross_streets": "Folsom St \u0026 Harrison St", "city":
        "San Francisco", "display_address": ["368 11th St", "(b/t Folsom St \u0026
        Harrison St)", "SoMa", "San Francisco, CA 94103"], "neighborhoods": ["SoMa"],
        "postal_code": "94103", "country_code": "US", "address": ["368 11th St"],
        "state_code": "CA"}}, {"is_claimed": false, "rating": 5.0, "mobile_url": "http://m.yelp.com/biz/chris-discount-muffler-and-brake-san-francisco",
        "rating_img_url": "http://s3-media1.ak.yelpcdn.com/assets/2/www/img/f1def11e4e79/ico/stars/v1/stars_5.png",
        "review_count": 92, "name": "Chris'' Discount Muffler \u0026 Brake", "snippet_image_url":
        "http://s3-media4.ak.yelpcdn.com/assets/2/www/img/cc4afe21892e/default_avatars/user_medium_square.png",
        "rating_img_url_small": "http://s3[...]
