---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v2/search?ll=37.7577,-122.4376,,,
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<YELP_CONSUMER_KEY>", oauth_nonce="9cd962b4995fb18a50c17dfa2576f74e",
        oauth_signature="HoYEFi6ugrjZZUO268n4miXi7SA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1445634933", oauth_token="<YELP_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Node:
      - api_com
      - web57-uswest1bprod
      X-Mode:
      - ro
      X-Proxied:
      - 10-64-0-111-uswest1aprod
    body:
      encoding: UTF-8
      string: '{"region": {"span": {"latitude_delta": 0.015491277150246674, "longitude_delta":
        0.015165671335097386}, "center": {"latitude": 37.75819112982575, "longitude":
        -122.4329202869705}}, "total": 11534, "businesses": [{"is_claimed": false,
        "rating": 4.5, "mobile_url": "http://m.yelp.com/biz/seward-street-slides-san-francisco",
        "rating_img_url": "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png",
        "review_count": 495, "name": "Seward Street Slides", "snippet_image_url":
        "http://s3-media2.fl.yelpcdn.com/photo/0EHgtYMEgFG-OSgrf6kkAw/ms.jpg", "rating_img_url_small":
        "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/a5221e66bc70/ico/stars/v1/stars_small_4_half.png",
        "url": "http://www.yelp.com/biz/seward-street-slides-san-francisco", "categories":
        [["Parks", "parks"]], "snippet_text": "I don''t care if you''re an adult -
        you''re coming here if you''re in SF. This small park is in the middle of
        a residential area. Looking at pictures of the...", "image_url": "http://s3-media2.fl.yelpcdn.com/bphoto/sEQFQT2Dkx6XjSZgul5V3Q/ms.jpg",
        "location": {"city": "San Francisco", "display_address": ["Seward St", "Castro",
        "San Francisco, CA 94114"], "geo_accuracy": 9.5, "neighborhoods": ["Castro"],
        "postal_code": "94114", "country_code": "US", "address": ["Seward St"], "coordinate":
        {"latitude": 37.7579189398193, "longitude": -122.439813773941}, "state_code":
        "CA"}, "rating_img_url_large": "http://s3-media4.fl.yelpcdn.com/assets/2/www/img/9f83790ff7f6/ico/stars/v1/stars_large_4_half.png",
        "id": "seward-street-slides-san-francisco", "is_closed": false, "distance":
        196.13272113964354}, {"is_claimed": true, "rating": 4.5, "mobile_url": "http://m.yelp.com/biz/philz-coffee-san-francisco-2",
        "rating_img_url": "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png",
        "review_count": 898, "name": "Philz Coffee", "snippet_image_url": "http://s3-media2.fl.yelpcdn.com/photo/QmJAC8diqFOSjqlkcJF0Cw/ms.jpg",
        "rating_img_url_small": "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/a5221e66bc70/ico/stars/v1/stars_small_4_half.png",
        "url": "http://www.yelp.com/biz/philz-coffee-san-francisco-2", "categories":
        [["Coffee \u0026 Tea", "coffee"]], "menu_date_updated": 1441967199, "phone":
        "4158759656", "snippet_text": "15.10.12.  FIRST visit at new location!!!\n\nThis
        ACTUALLY relocation\n\nBEAUTIFUL\n\nThe old tiny place was on 18th\n\nLarge  wide
        foldable window\n  Bug comes in...", "image_url": "http://s3-media3.fl.yelpcdn.com/bphoto/OtoOZjPSmdGW5pQTe8B2Yw/ms.jpg",
        "location": {"cross_streets": "19th St \u0026 18th St", "city": "San Francisco",
        "display_address": ["549 Castro St", "Castro", "San Francisco, CA 94114"],
        "geo_accuracy": 9.5, "neighborhoods": ["Castro"], "postal_code": "94114",
        "country_code": "US", "address": ["549 Castro St"], "coordinate": {"latitude":
        37.7601254, "longitude": -122.4348964}, "state_code": "CA"}, "display_phone":
        "+1-415-875-9656", "rating_img_url_large": "http://s3-media4.fl.yelpcdn.com/assets/2/www/img/9f83790ff7f6/ico/stars/v1/stars_large_4_half.png",
        "menu_provider": "single_platform", "id": "philz-coffee-san-francisco-2",
        "is_closed": false, "distance": 359.47552268506354}, {"is_claimed": true,
        "rating": 4.5, "mobile_url": "http://m.yelp.com/biz/anchor-oyster-bar-san-francisco",
        "rating_img_url": "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png",
        "review_count": 1004, "name": "Anchor Oyster Bar", "snippet_image_url": "http://s3-media2.fl.yelpcdn.com/photo/S3eytTBrwViDB45Q0okbRQ/ms.[...]
