---
http_interactions:
- request:
    method: get
    uri: http://api.yelp.com/v2/search?location=San%20Francisco
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="E0TEU29q4OSwRWTv4Miyew", oauth_nonce="f0ec86648cd2b24fb4180eb8656306a4",
        oauth_signature="A1%2BEQB5fKI6OBK3D1v6fu0CJDUo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1397618790", oauth_token="H0DBl_rogBR4jLY2zIOCkns5ga006VK_",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Node:
      - web28, api_com
      Content-Type:
      - application/json; charset=UTF-8
      X-Mode:
      - rw
      X-Proxied:
      - lb2
    body:
      encoding: UTF-8
      string: '{"region": {"span": {"latitude_delta": 0.045335950000009007, "longitude_delta":
        0.047722399999997833}, "center": {"latitude": 37.780084349999996, "longitude":
        -122.41630000000001}}, "total": 40444, "businesses": [{"is_claimed": true,
        "rating": 5.0, "mobile_url": "http://m.yelp.com/biz/somafm-san-francisco",
        "rating_img_url": "http://s3-media1.ak.yelpcdn.com/assets/2/www/img/f1def11e4e79/ico/stars/v1/stars_5.png",
        "review_count": 199, "name": "SomaFM", "snippet_image_url": "http://s3-media4.ak.yelpcdn.com/photo/vNQ1MPneQLbMipQH7xWtjw/ms.jpg",
        "rating_img_url_small": "http://s3-media1.ak.yelpcdn.com/assets/2/www/img/c7623205d5cd/ico/stars/v1/stars_small_5.png",
        "url": "http://www.yelp.com/biz/somafm-san-francisco", "phone": "4158269500",
        "snippet_text": "I can''t say enough good things about SOMA FM.  No other
        music source, with the exception of Pandora, gives me exactly what I want
        to hear.  They have a...", "image_url": "http://s3-media4.ak.yelpcdn.com/bphoto/QpieZO0Ln6IsflSjPk3mjw/ms.jpg",
        "categories": [["Radio Stations", "radiostations"]], "display_phone": "+1-415-826-9500",
        "rating_img_url_large": "http://s3-media3.ak.yelpcdn.com/assets/2/www/img/22affc4e6c38/ico/stars/v1/stars_large_5.png",
        "id": "somafm-san-francisco", "is_closed": false, "location": {"cross_streets":
        "19th St \u0026 20th St", "city": "San Francisco", "display_address": ["2180
        Bryant St", "Ste 208", "(b/t 19th St \u0026 20th St)", "Mission", "San Francisco,
        CA 94110"], "neighborhoods": ["Mission"], "postal_code": "94110", "country_code":
        "US", "address": ["2180 Bryant St", "Ste 208"], "state_code": "CA"}}, {"is_claimed":
        true, "rating": 5.0, "mobile_url": "http://m.yelp.com/biz/secureway-auto-glass-san-francisco",
        "rating_img_url": "http://s3-media1.ak.yelpcdn.com/assets/2/www/img/f1def11e4e79/ico/stars/v1/stars_5.png",
        "review_count": 383, "name": "Secureway Auto Glass", "snippet_image_url":
        "http://s3-media2.ak.yelpcdn.com/photo/iK5s9He-CM94O6Jc1SiK6A/ms.jpg", "rating_img_url_small":
        "http://s3-media1.ak.yelpcdn.com/assets/2/www/img/c7623205d5cd/i[...]
