---
http_interactions:
- request:
    method: get
    uri: http://api.yelp.com/v2/search?bounds=37.7577,-122.4376%7C37.785381,-122.391681
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="E0TEU29q4OSwRWTv4Miyew", oauth_nonce="0bc83d4f9db3dca83e262aa7b0cfc87d",
        oauth_signature="YDQTli79GkPhYFdddG7znUtLIWQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1397618791", oauth_token="H0DBl_rogBR4jLY2zIOCkns5ga006VK_",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Node:
      - web73-r7-sfo1, api_com
      Content-Type:
      - application/json; charset=UTF-8
      X-Mode:
      - rw
      X-Proxied:
      - lb2
    body:
      encoding: UTF-8
      string: '{"region": {"span": {"latitude_delta": 0.027681000000001177, "longitude_delta":
        0.045918999999997823}, "center": {"latitude": 37.7715405, "longitude": -122.4146405}},
        "total": 11433, "businesses": [{"is_claimed": false, "rating": 5.0, "mobile_url":
        "http://m.yelp.com/biz/chris-discount-muffler-and-brake-san-francisco", "rating_img_url":
        "http://s3-media1.ak.yelpcdn.com/assets/2/www/img/f1def11e4e79/ico/stars/v1/stars_5.png",
        "review_count": 94, "name": "Chris'' Discount Muffler \u0026 Brake", "snippet_image_url":
        "http://s3-media4.ak.yelpcdn.com/assets/2/www/img/cc4afe21892e/default_avatars/user_medium_square.png",
        "rating_img_url_small": "http://s3-media1.ak.yelpcdn.com/assets/2/www/img/c7623205d5cd/ico/stars/v1/stars_small_5.png",
        "url": "http://www.yelp.com/biz/chris-discount-muffler-and-brake-san-francisco",
        "phone": "4158634110", "snippet_text": "I first heard of ''Chris'' Discount
        Muffler \u0026 Brake'' shop years ago when it was on Fell St SF, which was
        started by Chris father, numerous friends used his...", "image_url": "http://s3-media3.ak.yelpcdn.com/bphoto/d_o4NfsYVf3IscW96suLEw/ms.jpg",
        "categories": [["Auto Repair", "autorepair"], ["Smog Check Stations", "smog_check_stations"]],
        "display_phone": "+1-415-863-4110", "rating_img_url_large": "http://s3-media3.ak.yelpcdn.com/assets/2/www/img/22affc4e6c38/ico/stars/v1/stars_large_5.png",
        "id": "chris-discount-muffler-and-brake-san-francisco", "is_closed": false,
        "location": {"cross_streets": "Folsom St \u0026 Burns Pl", "city": "San Francisco",
        "display_address": ["276 11th St", "(b/t Folsom St \u0026 Burns Pl)", "SoMa",
        "San Francisco, CA 94103"], "neighborhoods": ["SoMa"], "postal_code": "94103",
        "country_code": "US", "address": ["276 11th St"], "state_code": "CA"}}, {"is_claimed":
        true, "rating": 5.0, "mobile_url": "http://m.yelp.com/biz/luscious-garage-san-francisco-2",
        "rating_img_url": "http://s3-media1.ak.yelpcdn.com/assets/2/www/img/f1def11e4e79/ico/stars/v1/stars_5.png",
        "review_count": 153, "name": "Luscious Garage", "snippet_image_url": "http://s3-media1.ak.yelpcdn.com/photo/UUldqUxLgjvAI1m-c2O7Nw/ms.jpg",
        "rating_img_url_small": "http://s3-media1.ak.yelpcdn.com/assets/2/www/img/c7623205d5cd/ico/stars/v1/star[...]
