---
http_interactions:
- request:
    method: get
    uri: http://api.yelp.com/v2/search?location=San%20Francisco
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<YELP_CONSUMER_KEY>", oauth_nonce="aef097da8356dcfae5d26850128323ba",
        oauth_signature="RUhQxeFmukcYfA7IQcr8d4DphP0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1398701825", oauth_token="<YELP_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Node:
      - web72-r7-sfo1, api_com
      Content-Type:
      - application/json; charset=UTF-8
      X-Mode:
      - rw
      X-Proxied:
      - lb2
    body:
      encoding: UTF-8
      string: '{"region": {"span": {"latitude_delta": 0.040105010000004881, "longitude_delta":
        0.047716677690004872}, "center": {"latitude": 37.777706649999999, "longitude":
        -122.41406580105}}, "total": 40447, "businesses": [{"is_claimed": true, "rating":
        5.0, "mobile_url": "http://m.yelp.com/biz/bay-area-box-express-san-francisco-3",
        "rating_img_url": "http://s3-media1.ak.yelpcdn.com/assets/2/www/img/f1def11e4e79/ico/stars/v1/stars_5.png",
        "review_count": 469, "name": "Bay Area Box Express", "snippet_image_url":
        "http://s3-media1.ak.yelpcdn.com/photo/TaPTZV3GYDNbp1gBzNRyxg/ms.jpg", "rating_img_url_small":
        "http://s3-media1.ak.yelpcdn.com/assets/2/www/img/c7623205d5cd/ico/stars/v1/stars_small_5.png",
        "url": "http://www.yelp.com/biz/bay-area-box-express-san-francisco-3", "phone":
        "4153283832", "snippet_text": "I love to find businesses that I can put on
        my special list of go-to services in an area.  Bay Area Box Express is one
        such business.  I needed boxes for a...", "image_url": "http://s3-media1.ak.yelpcdn.com/bphoto/cURb4Bv-W4wJe4LuSJRYHQ/ms.jpg",
        "categories": [["Movers", "movers"]], "display_phone": "+1-415-328-3832",
        "rating_img_url_large": "http://s3-media3.ak.yelpcdn.com/assets/2/www/img/22affc4e6c38/ico/stars/v1/stars_large_5.png",
        "id": "bay-area-box-express-san-francisco-3", "is_closed": false, "location":
        {"city": "San Francisco", "display_address": ["Financial District", "San Francisco,
        CA 94105"], "neighborhoods": ["Financial District", "SoMa"], "postal_code":
        "94105", "country_code": "US", "address": [], "state_code": "CA"}}, {"is_claimed":
        true, "rating": 5.0, "mobile_url": "http://m.yelp.com/biz/dj-jeremy-productions-san-francisco-3",
        "rating_img_url": "http://s3-media1.ak.yelpcdn.com/assets/2/www/img/f1def11e4e79/ico/stars/v1/stars_5.png",
        "review_count": 183, "name": "DJ Jeremy Productions", "snippet_image_url":
        "http://s3-media4.ak.yelpcdn.com/photo/mCotCBB9q_YPfgMfUMvTBQ/ms.jpg", "rating_img_url_small":
        "http://s3-media1.ak.yelpcdn.com/assets/2/www/img/c7623205d5[...]
