---
http_interactions:
- request:
    method: get
    uri: http://api.yelp.com/v2/search?ll=37.7577,-122.4376,,,
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<YELP_CONSUMER_KEY>", oauth_nonce="69dd320bac1c00180d0b82a912f84bdc",
        oauth_signature="YXcdwqQBcr%2BkecM7kxE2iB0drnA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1398701826", oauth_token="<YELP_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Node:
      - web33, api_com
      Content-Type:
      - application/json; charset=UTF-8
      X-Mode:
      - rw
      X-Proxied:
      - lb2
    body:
      encoding: UTF-8
      string: '{"region": {"span": {"latitude_delta": 0.014457849999999439, "longitude_delta":
        0.014482270000002018}, "center": {"latitude": 37.758191750000002, "longitude":
        -122.43873005}}, "total": 3504, "businesses": [{"is_claimed": false, "distance":
        322.2774924805243, "mobile_url": "http://m.yelp.com/biz/level-6-shredding-san-francisco-2",
        "rating_img_url": "http://s3-media1.ak.yelpcdn.com/assets/2/www/img/f1def11e4e79/ico/stars/v1/stars_5.png",
        "review_count": 133, "name": "Level 6 Shredding", "snippet_image_url": "http://s3-media3.ak.yelpcdn.com/photo/PAis6aohiiaxDajJV5QQMQ/ms.jpg",
        "rating": 5.0, "url": "http://www.yelp.com/biz/level-6-shredding-san-francisco-2",
        "location": {"cross_streets": "18th St \u0026 19th St", "city": "San Francisco",
        "display_address": ["139 Collingwood St", "Ste A", "(b/t 18th St \u0026 19th
        St)", "Castro", "San Francisco, CA 94114"], "neighborhoods": ["Castro"], "postal_code":
        "94114", "country_code": "US", "address": ["139 Collingwood St", "Ste A"],
        "state_code": "CA"}, "phone": "4153411003", "snippet_text": "Summary of my
        experience with Level 6 Shredding: Easy to contact and arrange appointment,
        courteous and pleasant to work with, convenient and professional...", "image_url":
        "http://s3-media1.ak.yelpcdn.com/bphoto/Bajq1NnYj4queV8aoEglzw/ms.jpg", "categories":
        [["Local Services", "localservices"]], "display_phone": "+1-415-341-1003",
        "rating_img_url_large": "http://s3-media3.ak.yelpcdn.com/assets/2/www/img/22affc4e6c38/ico/stars/v1/stars_large_5.png",
        "id": "level-6-shredding-san-francisco-2", "is_closed": false, "rating_img_url_small":
        "http://s3-media1.ak.yelpcdn.com/assets/2/www/img/c7623205d5cd/ico/stars/v1/stars_small_5.png"},
        {"is_claimed": true, "distance": 322.19072544051335, "mobile_url": "http://m.yelp.com/biz/p-o-plus-san-francisco",
        "rating_img_url": "http://s3-media1.ak.yelpcdn.com/assets/2/www/img/f1def11e4e79/ico/stars/v1/stars_5.png",
        "review_count": 111, "name": "P.O. Plus", "snippet_image_url": "http://s3-media4.ak.yelpcdn.com/photo/3JOY7yA2l-a9edz0NtpMuQ/ms.jpg",
        "rati[...]
