---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v2/search?bounds=37.7577,-122.4376%7C37.785381,-122.391681
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<YELP_CONSUMER_KEY>", oauth_nonce="fc03af74bd7b0aeae924dd77e6d3172a",
        oauth_signature="5RMIYjCpscO7cmi%2Fut4zXUo4uc8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1445634932", oauth_token="<YELP_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Node:
      - api_com
      - web4-uswest1bprod
      X-Mode:
      - ro
      X-Proxied:
      - 10-64-0-245-uswest1aprod
    body:
      encoding: UTF-8
      string: '{"region": {"span": {"latitude_delta": 0.027681000000001177, "longitude_delta":
        0.04591899999999782}, "center": {"latitude": 37.7715405, "longitude": -122.4146405}},
        "total": 20317, "businesses": [{"is_claimed": false, "rating": 4.5, "mobile_url":
        "http://m.yelp.com/biz/crepes-a-go-go-san-francisco-2", "rating_img_url":
        "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png",
        "review_count": 498, "name": "Crepes A Go Go", "rating_img_url_small": "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/a5221e66bc70/ico/stars/v1/stars_small_4_half.png",
        "url": "http://www.yelp.com/biz/crepes-a-go-go-san-francisco-2", "categories":
        [["Creperies", "creperies"], ["Food Stands", "foodstands"]], "phone": "4155031294",
        "snippet_text": "Don''t let the food truck fool you. These crepes are amazing.\n\nPerfect
        for the after club scene, Crepes A Go Go is a staple for either going between
        clubs,...", "image_url": "http://s3-media4.fl.yelpcdn.com/bphoto/lqTsDN3B-LI9fIrEt-bgvw/ms.jpg",
        "snippet_image_url": "http://s3-media4.fl.yelpcdn.com/photo/bdbd8bGh54lSf8BzWBUOVQ/ms.jpg",
        "display_phone": "+1-415-503-1294", "rating_img_url_large": "http://s3-media4.fl.yelpcdn.com/assets/2/www/img/9f83790ff7f6/ico/stars/v1/stars_large_4_half.png",
        "id": "crepes-a-go-go-san-francisco-2", "is_closed": false, "location": {"cross_streets":
        "Folsom St \u0026 Harrison St", "city": "San Francisco", "display_address":
        ["350 11th St", "SoMa", "San Francisco, CA 94103"], "geo_accuracy": 8.0, "neighborhoods":
        ["SoMa"], "postal_code": "94103", "country_code": "US", "address": ["350 11th
        St"], "coordinate": {"latitude": 37.7710762023926, "longitude": -122.413414001465},
        "state_code": "CA"}}, {"is_claimed": true, "rating": 4.5, "mobile_url": "http://m.yelp.com/biz/teds-market-and-delicatessen-san-francisco",
        "rating_img_url": "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png",
        "review_count": 359, "name": "Ted''s Market \u0026 Delicatessen", "rating_img_url_small":
        "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/a5221e66bc70/ico/stars/v1/stars_small_4_half.png",
        "url": "http://www.yelp.com/biz/teds-market-and-delicatessen-san-francisco",
        "categories": [["Delis", "delis"], ["Sandwiches", "sandwiches"], ["Caterers",
        "catering"]], "menu_date_updated": 1442078486, "phone": "4155520309", "snippet_text":
        "Teds is off the hook !!!!\nBest sammich in SF !!!!!\nGreat value and taste.\nGuy
        made my BLT and said good luck with that !!! Lol", "image_url": "http://s3-media3.fl.yelpcdn.com/bphoto/9oLhikqyvN3kAlDoW3iECg/ms.jpg",
        "snippet_image_url": "http://s3-media2.fl.yelpcdn.com/photo/NiSiN8GFm-prKfE26z0Kmg/ms.jpg",
        "display_phone": "+1-415-552-0309", "rating_img_url_large": "http://s3-media4.fl.yelpcdn.com/assets/2/www/img/9f83790ff7f6/ico/stars/v1/stars_large_4_half.png",
        "menu_provider": "eat24", "id": "teds-market-and-delicatessen-san-francisco",
        "is_closed": false, "location": {"cross_streets": "11th St \u0026 Lafayette
        St", "city": "San Francisco", "display_address": ["1530 Howard St", "SoMa",
        "San Francisco, CA 94103"], "geo_accuracy": 8.0, "neighborhoods": ["SoMa"],
        "postal_code": "94103", "country_code": "US", "address": ["1530 Howard St"],
        "coordinate": {"latitude": 37.7728691101074, "longitude": -122.416229248047},
        "state_[...]
