---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v2/search?location=San%20Francisco
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<YELP_CONSUMER_KEY>", oauth_nonce="98bf961441218ad69b3ffda23cb1e369",
        oauth_signature="M3eTa2u7OEvCY%2FZ3wJbVuGzstxc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1445634932", oauth_token="<YELP_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Node:
      - 10-64-105-44-uswest1aprod
      - api_com
      X-Mode:
      - ro
      X-Proxied:
      - 10-64-0-111-uswest1aprod
    body:
      encoding: UTF-8
      string: '{"region": {"span": {"latitude_delta": 0.04673735000000079, "longitude_delta":
        0.05231922350600371}, "center": {"latitude": 37.76832975, "longitude": -122.41716843477}},
        "total": 51883, "businesses": [{"is_claimed": true, "rating": 4.5, "mobile_url":
        "http://m.yelp.com/biz/the-flying-falafel-san-francisco-3", "rating_img_url":
        "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png",
        "review_count": 368, "name": "The Flying Falafel", "rating_img_url_small":
        "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/a5221e66bc70/ico/stars/v1/stars_small_4_half.png",
        "url": "http://www.yelp.com/biz/the-flying-falafel-san-francisco-3", "categories":
        [["Falafel", "falafel"], ["Vegan", "vegan"], ["Gluten-Free", "gluten_free"]],
        "menu_date_updated": 1444605464, "phone": "4159641003", "snippet_text": "best
        food\nbest positive personality\n\nbest show!\n\nkeep up the good work", "image_url":
        "http://s3-media3.fl.yelpcdn.com/bphoto/jlzz6k3zJX0ypKpOwXn6iQ/ms.jpg", "snippet_image_url":
        "http://s3-media3.fl.yelpcdn.com/photo/Tso_fYB9HX_O0rj5Jl8W4w/ms.jpg", "display_phone":
        "+1-415-964-1003", "rating_img_url_large": "http://s3-media4.fl.yelpcdn.com/assets/2/www/img/9f83790ff7f6/ico/stars/v1/stars_large_4_half.png",
        "menu_provider": "eat24", "id": "the-flying-falafel-san-francisco-3", "is_closed":
        false, "location": {"cross_streets": "Golden Gate Ave \u0026 Taylor St", "city":
        "San Francisco", "display_address": ["1051 Market St", "SoMa", "San Francisco,
        CA 94103"], "geo_accuracy": 8.0, "neighborhoods": ["SoMa"], "postal_code":
        "94103", "country_code": "US", "address": ["1051 Market St"], "coordinate":
        {"latitude": 37.78125, "longitude": -122.4113007}, "state_code": "CA"}}, {"is_claimed":
        true, "rating": 5.0, "mobile_url": "http://m.yelp.com/biz/tadu-ethiopian-kitchen-san-francisco-3",
        "rating_img_url": "http://s3-media1.fl.yelpcdn.com/assets/2/www/img/f1def11e4e79/ico/stars/v1/stars_5.png",
        "review_count": 200, "name": "Tadu Ethiopian Kitchen", "rating_img_url_small":
        "http://s3-media1.fl.yelpcdn.com/assets/2/www/img/c7623205d5cd/ico/stars/v1/stars_small_5.png",
        "url": "http://www.yelp.com/biz/tadu-ethiopian-kitchen[...]
